<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>NodeJS Skeleton</title>

		<!-- Load js dep -->
		<script src="js/lib/angular.min.js"></script>
		<script src="js/app.js"></script>
		<!-- Some css -->
		<style type="text/css">
			.container {
				padding: 50px 80px;
			}
			.msg-div {
				margin: 10px;
				padding: 5px;
				width: 70%;
				min-width: 250px;
			}
			.msg-div:hover {
				background-color: #e9f2ef;
			}
			.funny-stuff {
				text-align: left;
			}
			.question-div {
				margin-bottom: 5px;
			}
			.msg-text {
				font-size: 16px;
				font-weight: 400;
			}
			.input-field {
				width: 85%;
				min-width: 100px;
				font-size: 16px;
				border-color: transparent;
				background-color: transparent;
				font-weight: 400;
				padding: 5px;
			}
			.button {
				padding: 8px;
				border-radius: 8%;
				font-size: 14px;
				font-weight: 500;
			}
			.button:hover {
				background-color: #f5d3a6;
				cursor: pointer;
			}
			.new-question {
				margin-top: 40px;
				padding: 20px;
				border-top: 2px solid #545978;
				width: 70%;
				min-width: 250px;
			}
			.new-question:hover {
				background-color: #eef5cc;
			}
			.new-question .button {
				padding: 10px 25px;
			}
		</style>
	</head>
	<!-- appController -->
	<body ng-controller="appController">
		<div class="container">
			<div class="msg-div" ng-repeat="q in questions">
				<div class="funny-stuff question-div">
					<span class="msg-text">
						Question: {{q.question}}
					</span>
				</div>
				<div class="funny-stuff">
					<span class="msg-text" ng-if="q.answer">
						Answer: {{q.answer}}
					</span>
					<span ng-if="!q.answer" class="row">
						<input ng-model="q.tempAnswer" placeholder="Answer..." type="text" class="input-field">
						<button ng-click="sendAnswer(q.id, q.tempAnswer)" class="button">Answer</button>
					</span>
				</div>
			</div>

			<div class="row new-question">
				<input ng-model="newQuestionText" placeholder="New Question..." type="text" class="input-field">
				<button ng-click="sendQuestion()" class="button">Send</button>
			</div>
		</div>

        <script src="/socket.io/socket.io.js"></script>
	</body>
</html>
