.content {
    padding: 40px 80px;

    .questions-div {

        .item {
            border-radius: 25px;
            border: 1px solid #9bd1cd;
            margin-bottom: 10px; 
            min-width: 420px;

            .img-icon {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-top: 5px;
                margin-left: 5px;
            }
        }

        .item-contnet {
            width: 95%;
            min-width: 350px;

            .question-div {
                margin-top: 10px;
                margin-bottom: 15px;
                border-top-right-radius: 25px;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                background-color: #a8cde3;

                .question-text {
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            
            .answer-div {
                float: right;
                margin-right: 10px; 
                width: 100%;

                .answered-div {
                    float: right;

                    .answer-text {
                        margin-top: 10px;
                        margin-right: 5px;
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                        border-bottom-right-radius: 25px;
                        background-color: #e6e9eb;
                        font-size: 18px;
                        font-weight: 300;
                    }
                }

                .new-answer-div {
                    margin-left: 20px;

                    a {
                        color: #007bff;
                    }
                    input {
                        width: 90%;
                        font-size: 18px;
                        padding-bottom: 1px;
                    }
                    .btn {
                        margin-left: 20px;
                        margin-right: 15px;
                        padding: 8px 12px;
                        border-radius: 50%;
                        width: 50px;
                    }
                }
            }
        }
    }

    .my-question-div {
        margin: 15px 20px;
        border-top: 2px solid #545978;
        padding-top: 15px;

        input {
            min-width: 250px;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 1px;
        }
        .btn {
            border-radius: 25%;
            margin-left: 20px;
            font-size: 14px;
            padding: 2px 4px;
            min-width: 60px;
        }
    }
}