<div class="content">

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

  <div class="questions-div">
    <div *ngFor="let question of questions" class="d-flex flex-row hoverable item">
      <div class="p-2">
        <!--<i class="fa fa-question fa-2x" aria-hidden="true"></i>-->
        <img src="../../assets/first.jpg" class="img-icon">
      </div>
      <div class="p-2 item-contnet">
        <div class="question-div">
          <label class="p-2 question-text">{{question.question}}</label>
        </div>
        <div class="answer-div">
          <div *ngIf="question.answer" class="d-flex answered-div">
            <label class="p-2 answer-text">{{question.answer}}</label>
            <img src="../../assets/third.jpeg" class="img-icon">
          </div>
          <div *ngIf="!question.answer" class="new-answer-div">
            <div *ngIf="!question.typeAnswer">
              <a *ngIf="!question.typing" (click)="openAnswerTyping(question.id)">Know the answer?</a>
              <label *ngIf="question.typing">someone is typing an answer...</label>
            </div>
            <div *ngIf="question.typeAnswer">
              <label *ngIf="question.typing">someone is typing an answer...</label>
              <div class="d-flex flex-row">
                <button 
                  class="btn btn-outline-primary" 
                  mdbRippleRadius
                  (click)="sendAnswer(question.tempAnswer, question.id)">
                  <i class="fa fa-send fa-3x" aria-hidden="true"></i>
                </button>
                <input 
                  type="text" 
                  mdbActive 
                  placeholder="type your answer..." 
                  [name]="question.id"  
                  [(ngModel)]="question.tempAnswer"
                  (keyup.enter)="sendAnswer(question.tempAnswer, question.id)" 
                  class="form-control"
                  (keyup)="onAnswerTyping($event, question.id)"
                  (blur)="onAsnwerStopTyping($event, question.id)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-question-div d-flex flex-row">
      <input 
        type="text" 
        mdbActive 
        placeholder="type your question..." 
        [name]="questionText"  
        [(ngModel)]="myQuestionText" 
        (keyup.enter)="sendQuestion()"
        class="form-control">
    <button 
      class="btn btn-outline-primary" 
      mdbRippleRadius
      (click)="sendQuestion()">
      Send
    </button>
  </div>


</div>
